


body{
    background-color: #7bb1cc;
}
a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #9b9b9b;
}


